* {
  margin: 0;
  padding: 0;
}

.elements {
  display: flex;
  justify-content: space-around;
  /* need to fix this */
}

.draggable {
  text-align: center;
  margin: 10px 0;
  box-sizing: border-box;
}

.dropzone-container {
  /* float: left; */
  width: 200px;
  min-width: 200px;
  margin-bottom: 10px;
  padding: 10px;
  height: min-content;
  /* min-height: 40px; */
  box-sizing: border-box;
}

.dropzone {
  margin-bottom: 10px;
  height: min-content;
  min-height: 40px;
}

.dragging {
  border: 1px solid rgba(0,0,0,0.5);
  opacity: 0.5;
}